.select-form-container {
    display: flex;
    justify-content: space-around;
}

.select-form-settings {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
}

.select-form-buttons-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.select-view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
