.input-form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-form-settings {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
}

.input-form-buttons-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.input-view-container {
    display: flex;
    flex-direction: column;
}
